## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df  = application_df.drop(columns= ['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
unique_value_counts = application_df.nunique()
unique_value_counts

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# For  columns w/ more than 10 unique values, 
# determine the number of data points for each unique value.
keys = unique_value_counts.keys()
counter = 0

for i in unique_value_counts:
    if i > 10:
        current_col = keys[counter]
        print('_____________________________')
        print(current_col)
        print(application_df[current_col].value_counts())
    counter +=1

_____________________________
APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64
_____________________________
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1580        1
C2570        1
C1570        1
C1283        1
C4500        1
Name: CLASSIFICATION, Length: 71, dtype: int64
_____________________________
ASK_AMT
5000       25398
10478          3
15583          3
6725           3
63981          3
           ...
772556         1
70103          1
27096          1
25049          1
1138700        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df.APPLICATION_TYPE.value_counts()
app_type_counts_df = pd.DataFrame(app_type_counts)
app_type_counts_df.reset_index(inplace=True)
app_type_counts_df.columns = ['app_type', 'count']
app_type_counts_df

   app_type  count
0        T3  27037
1        T4   1542
2        T6   1216
3        T5   1173
4       T19   1065
5        T8    737
6        T7    725
7       T10    528
8        T9    156
9       T13     66
10      T12     27
11       T2     16
12      T14      3
13      T25      3
14      T29      2
15      T15      2
16      T17      1

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = []

for i in range(len(app_type_counts_df)):
    if (app_type_counts_df.loc[i, 'count'] <= 200):
        application_types_to_replace.append(app_type_counts_df.loc[i, 'app_type'])

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.CLASSIFICATION.value_counts()
classification_counts_df = pd.DataFrame(classification_counts)
classification_counts_df.reset_index(inplace=True)
classification_counts_df.columns = ['classification', 'count']
classification_counts_df

   classification  count
0           C1000  17326
1           C2000   6074
2           C1200   4837
3           C3000   1918
4           C2100   1883
..            ...    ...
66          C1580      1
67          C2570      1
68          C1570      1
69          C1283      1
70          C4500      1

[71 rows x 2 columns]

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_df[classification_counts_df['count']>1]

   classification  count
0           C1000  17326
1           C2000   6074
2           C1200   4837
3           C3000   1918
4           C2100   1883
5           C7000    777
6           C1700    287
7           C4000    194
8           C5000    116
9           C1270    114
10          C2700    104
11          C2800     95
12          C7100     75
13          C1300     58
14          C1280     50
15          C1230     36
16          C1400     34
17          C2300     32
18          C7200     32
19          C1240     30
20          C8000     20
21          C7120     18
22          C1500     16
23          C6000     15
24          C1800     15
25          C1250     14
26          C8200     11
27          C1278     10
28          C1238     10
29          C1237      9
30          C1235      9
31          C7210      7
32          C2400      6
33          C1720      6
34          C4100      6
35          C1600      5
36          C1257      5
37          C2710      3
38             C0      3
39          C1260      3
40          C1246      2
41          C1234      2
42          C3200      2
43          C1256      2
44          C1267      2

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = []

for i in range(len(classification_counts_df)):
    if (classification_counts_df.loc[i, 'count'] <= 1):
        classifications_to_replace.append(classification_counts_df.loc[i, 'classification'])

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
Other       26
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C1720        6
C2400        6
C4100        6
C1600        5
C1257        5
C2710        3
C1260        3
C0           3
C1246        2
C1256        2
C1267        2
C3200        2
C1234        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df)
dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
y = dummies_df['IS_SUCCESSFUL'].values
X = dummies_df.drop('IS_SUCCESSFUL', axis=1).values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()
number_input_features = len(X_train[0])

# First hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation="relu", input_dim=number_input_features)) 

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=8, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid")) 

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 10)                840
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 88
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 9
=================================================================
Total params: 937
Trainable params: 937
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Create a callback that saves the model's weights every 5 epochs.
checkpoint_filepath = 'saved_weights_5_epochs/starter_weights_{epoch}_{accuracy:.2f}.hdf5'

model_checkpoint_callback = tf.keras.callbacks.ModelCheckpoint(
    filepath=checkpoint_filepath, 
    monitor='accuracy', 
    save_weights_only=True, 
    mode='auto', 
    period=5,
)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of samples seen.

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[model_checkpoint_callback])

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.6008 - accuracy: 0.7036
Epoch 2/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5585 - accuracy: 0.7276
Epoch 3/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5531 - accuracy: 0.7301
Epoch 4/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.5505 - accuracy: 0.7303
Epoch 5/100
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5490 - accuracy: 0.7326
Epoch 6/100
25724/25724 [==============================] - 3s 111us/sample - loss: 0.5479 - accuracy: 0.7319
Epoch 7/100
25724/25724 [==============================] - 3s 107us/sample - loss: 0.5471 - accuracy: 0.7330
Epoch 8/100
25724/25724 [==============================] - 3s 119us/sample - loss: 0.5464 - accuracy: 0.7334
Epoch 9/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.5453 - accuracy: 0.7344
Epoch 10/100
25724/25724 [==============================] - 3s 126us/sample - loss: 0.5451 - accuracy: 0.7341 - loss: 0.5
Epoch 11/100
25724/25724 [==============================] - 4s 138us/sample - loss: 0.5448 - accuracy: 0.7348
Epoch 12/100
25724/25724 [==============================] - 3s 131us/sample - loss: 0.5440 - accuracy: 0.7354
Epoch 13/100
25724/25724 [==============================] - 4s 147us/sample - loss: 0.5443 - accuracy: 0.7352
Epoch 14/100
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5437 - accuracy: 0.7355
Epoch 15/100
25724/25724 [==============================] - 4s 150us/sample - loss: 0.5435 - accuracy: 0.7356
Epoch 16/100
25724/25724 [==============================] - 4s 152us/sample - loss: 0.5432 - accuracy: 0.7353
Epoch 17/100
25724/25724 [==============================] - 4s 146us/sample - loss: 0.5428 - accuracy: 0.7357
Epoch 18/100
25724/25724 [==============================] - 4s 147us/sample - loss: 0.5429 - accuracy: 0.7358
Epoch 19/100
25724/25724 [==============================] - 4s 147us/sample - loss: 0.5424 - accuracy: 0.7360
Epoch 20/100
25724/25724 [==============================] - 4s 147us/sample - loss: 0.5423 - accuracy: 0.7364
Epoch 21/100
25724/25724 [==============================] - 4s 147us/sample - loss: 0.5421 - accuracy: 0.7369
Epoch 22/100
25724/25724 [==============================] - 4s 150us/sample - loss: 0.5419 - accuracy: 0.7370
Epoch 23/100
25724/25724 [==============================] - 4s 154us/sample - loss: 0.5418 - accuracy: 0.7364
Epoch 24/100
25724/25724 [==============================] - 4s 142us/sample - loss: 0.5420 - accuracy: 0.7363
Epoch 25/100
25724/25724 [==============================] - 3s 130us/sample - loss: 0.5417 - accuracy: 0.7374
Epoch 26/100
25724/25724 [==============================] - 4s 136us/sample - loss: 0.5414 - accuracy: 0.7368
Epoch 27/100
25724/25724 [==============================] - 3s 128us/sample - loss: 0.5414 - accuracy: 0.7375
Epoch 28/100
25724/25724 [==============================] - 3s 129us/sample - loss: 0.5413 - accuracy: 0.7367
Epoch 29/100
25724/25724 [==============================] - 3s 132us/sample - loss: 0.5412 - accuracy: 0.7376
Epoch 30/100
25724/25724 [==============================] - 3s 136us/sample - loss: 0.5413 - accuracy: 0.7364
Epoch 31/100
25724/25724 [==============================] - 4s 141us/sample - loss: 0.5410 - accuracy: 0.7374
Epoch 32/100
25724/25724 [==============================] - 3s 127us/sample - loss: 0.5407 - accuracy: 0.7369
Epoch 33/100
25724/25724 [==============================] - 3s 131us/sample - loss: 0.5405 - accuracy: 0.7372
Epoch 34/100
25724/25724 [==============================] - 3s 128us/sample - loss: 0.5409 - accuracy: 0.7367
Epoch 35/100
25724/25724 [==============================] - 3s 136us/sample - loss: 0.5407 - accuracy: 0.7371
Epoch 36/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5404 - accuracy: 0.7373
Epoch 37/100
25724/25724 [==============================] - 3s 129us/sample - loss: 0.5408 - accuracy: 0.7369
Epoch 38/100
25724/25724 [==============================] - 3s 131us/sample - loss: 0.5401 - accuracy: 0.7367
Epoch 39/100
25724/25724 [==============================] - 3s 130us/sample - loss: 0.5404 - accuracy: 0.7379
Epoch 40/100
25724/25724 [==============================] - 4s 137us/sample - loss: 0.5400 - accuracy: 0.7376
Epoch 41/100
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5400 - accuracy: 0.7379
Epoch 42/100
25724/25724 [==============================] - 3s 125us/sample - loss: 0.5401 - accuracy: 0.7382
Epoch 43/100
25724/25724 [==============================] - 3s 129us/sample - loss: 0.5400 - accuracy: 0.7381
Epoch 44/100
25724/25724 [==============================] - 3s 130us/sample - loss: 0.5402 - accuracy: 0.7371
Epoch 45/100
25724/25724 [==============================] - 3s 130us/sample - loss: 0.5400 - accuracy: 0.7375
Epoch 46/100
25724/25724 [==============================] - 4s 137us/sample - loss: 0.5397 - accuracy: 0.7377
Epoch 47/100
25724/25724 [==============================] - 3s 135us/sample - loss: 0.5396 - accuracy: 0.7370
Epoch 48/100
25724/25724 [==============================] - 3s 132us/sample - loss: 0.5398 - accuracy: 0.7378
Epoch 49/100
25724/25724 [==============================] - 3s 126us/sample - loss: 0.5396 - accuracy: 0.7380
Epoch 50/100
25724/25724 [==============================] - 3s 130us/sample - loss: 0.5396 - accuracy: 0.7378
Epoch 51/100
25724/25724 [==============================] - 4s 139us/sample - loss: 0.5394 - accuracy: 0.7376
Epoch 52/100
25724/25724 [==============================] - 3s 135us/sample - loss: 0.5392 - accuracy: 0.7382
Epoch 53/100
25724/25724 [==============================] - 3s 125us/sample - loss: 0.5394 - accuracy: 0.7377
Epoch 54/100
25724/25724 [==============================] - 4s 137us/sample - loss: 0.5392 - accuracy: 0.7375
Epoch 55/100
25724/25724 [==============================] - 3s 129us/sample - loss: 0.5395 - accuracy: 0.7378
Epoch 56/100
25724/25724 [==============================] - 3s 132us/sample - loss: 0.5391 - accuracy: 0.7372
Epoch 57/100
25724/25724 [==============================] - 4s 138us/sample - loss: 0.5393 - accuracy: 0.7377
Epoch 58/100
25724/25724 [==============================] - 3s 122us/sample - loss: 0.5389 - accuracy: 0.7381
Epoch 59/100
25724/25724 [==============================] - 3s 129us/sample - loss: 0.5392 - accuracy: 0.7379
Epoch 60/100
25724/25724 [==============================] - 3s 131us/sample - loss: 0.5392 - accuracy: 0.7380
Epoch 61/100
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5389 - accuracy: 0.7376
Epoch 62/100
25724/25724 [==============================] - 3s 129us/sample - loss: 0.5388 - accuracy: 0.7382
Epoch 63/100
25724/25724 [==============================] - 4s 148us/sample - loss: 0.5388 - accuracy: 0.7379
Epoch 64/100
25724/25724 [==============================] - 4s 162us/sample - loss: 0.5389 - accuracy: 0.7381
Epoch 65/100
25724/25724 [==============================] - 5s 206us/sample - loss: 0.5387 - accuracy: 0.7385
Epoch 66/100
25724/25724 [==============================] - 4s 161us/sample - loss: 0.5387 - accuracy: 0.7381
Epoch 67/100
25724/25724 [==============================] - 4s 141us/sample - loss: 0.5388 - accuracy: 0.7386
Epoch 68/100
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5386 - accuracy: 0.7369
Epoch 69/100
25724/25724 [==============================] - 3s 131us/sample - loss: 0.5389 - accuracy: 0.7374
Epoch 70/100
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5384 - accuracy: 0.7384
Epoch 71/100
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5387 - accuracy: 0.7378
Epoch 72/100
25724/25724 [==============================] - 4s 143us/sample - loss: 0.5387 - accuracy: 0.7378
Epoch 73/100
25724/25724 [==============================] - 3s 135us/sample - loss: 0.5386 - accuracy: 0.7376
Epoch 74/100
25724/25724 [==============================] - 3s 127us/sample - loss: 0.5387 - accuracy: 0.7382
Epoch 75/100
25724/25724 [==============================] - 3s 131us/sample - loss: 0.5383 - accuracy: 0.7383
Epoch 76/100
25724/25724 [==============================] - 4s 149us/sample - loss: 0.5386 - accuracy: 0.7379
Epoch 77/100
25724/25724 [==============================] - 3s 124us/sample - loss: 0.5385 - accuracy: 0.7382
Epoch 78/100
25724/25724 [==============================] - 3s 126us/sample - loss: 0.5386 - accuracy: 0.7375
Epoch 79/100
25724/25724 [==============================] - 3s 128us/sample - loss: 0.5383 - accuracy: 0.7376 - loss: 0.5
Epoch 80/100
25724/25724 [==============================] - 3s 129us/sample - loss: 0.5384 - accuracy: 0.7384
Epoch 81/100
25724/25724 [==============================] - 3s 129us/sample - loss: 0.5382 - accuracy: 0.7377
Epoch 82/100
25724/25724 [==============================] - 3s 130us/sample - loss: 0.5385 - accuracy: 0.7380 - loss: 0.5
Epoch 83/100
25724/25724 [==============================] - 3s 125us/sample - loss: 0.5383 - accuracy: 0.7379
Epoch 84/100
25724/25724 [==============================] - 3s 122us/sample - loss: 0.5381 - accuracy: 0.7385
Epoch 85/100
25724/25724 [==============================] - 4s 143us/sample - loss: 0.5383 - accuracy: 0.7377
Epoch 86/100
25724/25724 [==============================] - 3s 123us/sample - loss: 0.5381 - accuracy: 0.7379
Epoch 87/100
25724/25724 [==============================] - 3s 124us/sample - loss: 0.5381 - accuracy: 0.7379
Epoch 88/100
25724/25724 [==============================] - 3s 121us/sample - loss: 0.5380 - accuracy: 0.7385
Epoch 89/100
25724/25724 [==============================] - 3s 131us/sample - loss: 0.5379 - accuracy: 0.7388
Epoch 90/100
25724/25724 [==============================] - 3s 124us/sample - loss: 0.5380 - accuracy: 0.7381
Epoch 91/100
25724/25724 [==============================] - 3s 130us/sample - loss: 0.5379 - accuracy: 0.7384
Epoch 92/100
25724/25724 [==============================] - 3s 128us/sample - loss: 0.5381 - accuracy: 0.7373
Epoch 93/100
25724/25724 [==============================] - 3s 125us/sample - loss: 0.5378 - accuracy: 0.7382
Epoch 94/100
25724/25724 [==============================] - 3s 121us/sample - loss: 0.5379 - accuracy: 0.7380
Epoch 95/100
25724/25724 [==============================] - 3s 127us/sample - loss: 0.5377 - accuracy: 0.7378
Epoch 96/100
25724/25724 [==============================] - 3s 131us/sample - loss: 0.5377 - accuracy: 0.7383
Epoch 97/100
25724/25724 [==============================] - 3s 125us/sample - loss: 0.5378 - accuracy: 0.7390
Epoch 98/100
25724/25724 [==============================] - 3s 122us/sample - loss: 0.5378 - accuracy: 0.7385 - loss: 0.5378 - accu
Epoch 99/100
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5376 - accuracy: 0.7379
Epoch 100/100
25724/25724 [==============================] - 3s 124us/sample - loss: 0.5377 - accuracy: 0.7388

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 1s - loss: 0.5451 - accuracy: 0.7284
Loss: 0.559956905619396, Accuracy: 0.728396475315094

In [18]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')